<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>缘风官方网站</title>
</head>
<body>
<h1>获取安装包</h1><br>
<a href="../androidApk/缘风1.4.1.apk" download="">下载1.4初始版</a><br>
<a href="../androidApk/缘风1.4.2.apk" download="">下载1.4稳定版</a><br>
<a href="../androidApk/缘风1.4.3.apk" download="">下载1.4测试版</a><br>

<!--<a href="../../templates/userImg/ba16bea2-27e2-4848-9d54-118fcaf2c5ff.jpeg" download="">下载图片</a><br>-->
<!--获取服务器最新地址：https://cf60-240e-43d-4120-913-414f-9c86-7195-33a7.ngrok-free.app-->
</body>
</html>